import { AbstractPage } from 'hamtaro.js';

/**
 * {{CTRL}} page.
 *
 * @author {{AUTHOR}} <{{EMAIL}}>
 */
export default class {{NAME}} extends AbstractPage {
  /**
   * @inheritDoc
   * @see AbstractPage.getCtrl
   */
  getCtrl() {
    return '{{CTRL}}';
  }

  /**
   * @inheritDoc
   * @see AbstractPage.init
   */
  init(oData) {
    console.log('{{CTRL}} is loaded.');
  }
}