<?php
namespace App\Controller\Form\{{NAME}};

use Hamtaro\Controller\Form\AbstractForm;

/**
 * @author {{AUTHOR}} <{{EMAIL}}>
 */
class {{NAME}} extends AbstractForm
{
    /**
     * @inheritDoc
     * @see AbstractForm::executeAndGetResponse()
     */
    public function executeAndGetResponse()
    {
        return $this->Core->Response()->setMessage("{{NAME}} form");
    }
}