<?php
namespace App\Controller\Modal\{{NAME}};

use Hamtaro\Controller\Modal\AbstractModal;

/**
 * @author {{AUTHOR}} <{{EMAIL}}>
 */
class {{NAME}} extends AbstractModal
{
    /**
     * @inheritDoc
     * @see AbstractModal::getTitle()
     */
    public function getTitle()
    {
        return '{{NAME}}';
    }
}