<?php
namespace App\Controller\Component\{{NAME}};

use Hamtaro\Controller\Component\AbstractComponent;

/**
 * {{CTRL}} back-end.
 *
 * @author {{AUTHOR}} <{{EMAIL}}>
 */
class {{NAME}} extends AbstractComponent
{
    /**
     * @inheritDoc
     * @see AbstractPage::beforeRendering()
     */
    public function beforeRendering()
    {

    }
}